<nav class="navbar navbar-expand-lg .navbar-dark bg-dark" id="navBar">
        <a class="navbar-brand" href="#">
            <img src="/img/ai-logo.png" class="aiLogo">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active tab-pane">
                <a class="nav-link empD">Employee Details</a>
            </li>
            <li class="nav-item tab-pane ">
                <a class="nav-link teamCollab disabled" id="teamCollab">Teamwork and Collaboration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item tab-pane ">
                <a class="nav-link transparency disabled" id="transparency">Transparency</a>
            </li>
            <li class="nav-item tab-pane ">
                <a class="nav-link  innovation disabled" id="innovation">Innovation </a>
            </li>
            <li class="nav-item tab-pane ">
                <a class="nav-link respekt disabled" id="respekt">Respect for others </a>
            </li>
            <li class="nav-item tab-pane ">
                <a class="nav-link delivery disabled" id="delivery">Delivering Excellence </a>
            </li>
            <li class="nav-item tab-pane ">
                <a class="nav-link summary disabled" id="summary">Summary </a>
            </li>
        </ul>
</nav>


