<html>

<head>
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <script src="/libs/popper.min.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap.min.css">
    <script src="/libs/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="/js/respekt.js"></script>
    <script src="/js/delivery.js"></script>
    <script src="/js/innovation.js"></script>
    <script src="/js/teamAndCollab.js"></script>
    <script src="/js/transparency.js"></script>
    <script src="/js/genericFunctions.js"></script>
</head>

<body class="teamAndCollab">
    <div id="nav-placeholder">
        {{>feedback}}

    </div>

    <div class="container">

        <div class="queryCont" id="q1">
            <h4 class="queryHeader"> Active Listening </h4>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Listens intently with calm body language </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-1" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                Displays the behaviour in action consistently and visibly 
                            </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-1" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                Displays the behaviour in action more than 70% of the time and visibly 
                                </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-1" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                Lacks the behaviour in action almost always and visibly
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Fully understands and then responds </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-2" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                    Displays the behaviour in action consistently and visibly 
                                </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-2" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                    Displays the behaviour in action more than 70% of the time and visibly 
                                    </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-2" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                    Lacks the behaviour in action almost always and visibly
                                    </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery">Finds common interest in the conversation </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-3" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                        Displays the behaviour in action consistently and visibly 
                                    </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-3" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                        Displays the behaviour in action more than 70% of the time and visibly 
                                        </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-3" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                        Lacks the behaviour in action almost always and visibly
                                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row butn-teamAndCollab">
           {{>button}}
        </div>
    </div>

    <div class="additionalDiv" style="display: none;">
        <div class="queryCont" id="q2">
            <h4 class="queryHeader">Empathy for Others </h4>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Positive thinker </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-4" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                        Displays the behaviour in action consistently and visibly 
                                    </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-4" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                        Displays the behaviour in action more than 70% of the time and visibly 
                                        </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-4" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                        Lacks the behaviour in action almost always and visibly
                                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Lends a hand when needed </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-5" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                            Displays the behaviour in action consistently and visibly 
                                        </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-5" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                            Displays the behaviour in action more than 70% of the time and visibly 
                                            </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-5" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                            Lacks the behaviour in action almost always and visibly
                                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery">Approchable at all times </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-6" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                                Displays the behaviour in action consistently and visibly 
                                            </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-6" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                                Displays the behaviour in action more than 70% of the time and visibly 
                                                </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-6" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                                Lacks the behaviour in action almost always and visibly
                                                </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="queryCont" id="q3">
            <h4 class="queryHeader">Pro-active communicator </h4>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Extends cross team conversation</h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-7" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                            Displays the behaviour in action consistently and visibly 
                                        </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-7" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                            Displays the behaviour in action more than 70% of the time and visibly 
                                            </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-7" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                            Lacks the behaviour in action almost always and visibly
                                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Intiates one-to-one conversations to resolve issues </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-8" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                                Displays the behaviour in action consistently and visibly 
                                            </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-8" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                                Displays the behaviour in action more than 70% of the time and visibly 
                                                </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-8" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                                Lacks the behaviour in action almost always and visibly
                                                </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="queryCont" id="q4">
            <h4 class="queryHeader">Tranparency in communication</h4>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery"> Communicates without ambiguity </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-9" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                                Displays the behaviour in action consistently and visibly 
                                            </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-9" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                                Displays the behaviour in action more than 70% of the time and visibly 
                                                </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-9" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                                Lacks the behaviour in action almost always and visibly
                                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row queriesRow">
                <div class="offset-md-2">
                    <h5 class="secondLevelQuery">Creates sense of trust in interactions </h5>
                    <div class="offset-md-1">
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-10" id="radio1" value="5" checked>
                            <label class="form-check-label queries" for="queryRadios1">
                                                    Displays the behaviour in action consistently and visibly 
                                                </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-10" id="radio2" value="3" checked>
                            <label class="form-check-label queries" for="queryRadios2">
                                                    Displays the behaviour in action more than 70% of the time and visibly 
                                                    </label>
                        </div>
                        <div class="form-queries">
                            <input class="form-check-input" type="radio" name="queryRadios-10" id="radio3" value="1" checked>
                            <label class="form-check-label queries" for="queryRadios3">
                                                    Lacks the behaviour in action almost always and visibly
                                                    </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>

<script>
    $(function() {

        $("#nav-placeholder").load('/html/feedback.html', function() {

            $(".butn-teamAndCollab").load('/html/button.html', function() {
                $("#answerRadios").attr('onclick', 'transparencyCalc(this);');
            });

            if ($(".nav-item").hasClass('active')) {
                $(".nav-item").removeClass('active');
                $(".nav-item").addClass('disabled');
            }
            $("#transparency").removeClass('disabled');
            $("#transparency").parents().addClass('active');

        });



    });
</script>